.DS_Store
node_modules
/build
/.svelte-kit
/package
.env*.local
.vercel
.output

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
